@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  font-family: "Red Hat Display", sans-serif;
  background: hsl(225, 100%, 94%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  border-radius: 1rem;
  width: 21rem;
  box-shadow: -9px 25px 101px -50px hsl(224, 23%, 55%);
}

header img {
  width: 21rem;
  height: 11rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.container1 {
  h2 {
    padding-top: 1.6rem;
    padding-bottom: 1.8rem;
  }
  p {
    padding-bottom: 2rem;
    color: hsl(224, 23%, 55%);
  }
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(225, 100%, 98%);
  padding: 0.55rem;
  border-radius: 10px;
}

.container2_context {
  h3 {
    padding: 0 1rem;
  }
  p {
    color: hsl(224, 23%, 55%);
  }
}

.Box {
  padding-left: 3rem;
  a {
    cursor: pointer;
  }
}

.container3 {
  margin-top: 1.4rem;
  padding-bottom: 2.5rem;

  button {
    padding: 1rem 4.5rem;
    border-radius: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    background: hsl(245, 75%, 52%);
    border: none;
    cursor: pointer;
  }

  p {
    padding-top: 1.6rem;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    cursor: pointer;
  }
}

@media screen and (min-width: 800px) {
  .card {
    width: 25rem;
  }

  header img {
    width: 25rem;
  }
  .container1 {
    h2 {
      padding-bottom: 0.5rem;
    }
    p {
      padding: 0.5rem 3rem;
    }
  }
  .container2 {
    padding: 1.2rem;
  }
  .container2_context {
    h3 {
      padding: 0px 4rem 0 0.5rem;
    }
    p {
      color: hsl(224, 23%, 55%);
      padding: 0px 5rem 0 0.5rem;
    }
  }

  .Box {
    padding-left: 3rem;
  }
}
.Box {
  padding-right: 1rem;
}
